<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.centling"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.centling.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="name,icon,allowBackup,supportsRtl">

        <meta-data
            android:name="FlavorID"
            android:value="7f01" />

    </application>

</manifest>